{
  "presets": ["@babel/preset-react", "@babel/preset-typescript", "@babel/preset-env"],
  "ignore": [
    "**/__snapshots__"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "/components": "./src/components",
        "/themes": "./src/themes",
        "/types": "./src/types"
      }
    }]
  ]
}