{
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"],
  "ignore": [
    "**/__snapshots__"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "/components": "./src/components",
        "/themes": "./src/themes",
        "/types": "./src/types",
        "/utils": "./src/utils"
      }
    }]
  ]
}